{% extends "layouts/page.html" %}
{% load static  %}

{% block content  %}

{% include "components/banner-top.html" with title="Заказы пользователя" %}


<div class="container">
  <div class="row">
    {% for order in orders %}
      <div class="col-md-12">
        <div class="page-header">
          <h3>{{ order.date_created }}</h3>
        </div>
        <table class="table">
          <caption>Детали заказа:</caption>
          <thead>
            <tr>
              <th>Товар</th>
              <th>Количество</th>
            </tr>
          </thead>
          <tbody>
            {% for position in order.positions.all %}
              <tr>
                <td><a href="{% url 'product-detail' position.product.pk %}">{{ position.product.name }}</a></td>
                <td>{{ position.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
    {% empty %}
      <div class="col-12 col-md-8">
        <div class="page-header">
          <h3>Вы еще не совершали покупок!</h3>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
